@import "../../../variables.scss";

.end-text {
  background-color: $background-color--01;
  text-align: center;
  padding: 1.5rem;

  p {
    color: $color--00;
    text-transform: capitalize;
  }
}
