<div class="navbox"></div>
<app-loader [isLoading]="isLoading"></app-loader>
<div class="container" *ngIf="product && !isLoading">
    <div class="product-wrapper">
        <div class="product-image">
            <img src="{{product.imageUrl}}" alt="">
        </div>
        <div class="product-details">
            <p>Home / Shirts</p>
            <h1>{{product.name}}</h1>
            <h4>{{product.unitPrice | currency: 'PLN'}}</h4>
            <p *ngIf="product.unitsInStock > 0">Units in stock: {{product.unitsInStock}}</p>
            <p class="unavailable" *ngIf="product.unitsInStock <= 0">Product unavailable</p>
            <div *ngIf="product.unitsInStock > 0" class="cart-button">
                <input #quantityInput type="number" value="1" min="1" [max]="maxQuantityInput()" step="1"
                    appPreventTyping [(ngModel)]="quantity" />
                <button (click)="addToCart(product)">Add to Cart</button>
            </div>
            <div *ngIf="product.unitsInStock <= 0" class="contact-button">
                <button routerLink="/contact-us">Contact Us</button>
            </div>

            <h3>Product Details</h3>
            <p>{{product.description}}</p>
        </div>
    </div>
    <app-feedback [product]="product"></app-feedback>
</div>

<div class="popup" *ngIf="product && !isLoading && isPopup">
    <div class="overlay"></div>
    <div class="content">
        <div class="close-button bx bx-x" (click)="togglePopup()"></div>
        <table>
            <tr>
                <td>
                    <div class="product-info">
                        <div class="image">
                            <img src="{{product.imageUrl}}" alt="Product Name">
                        </div>
                        <div class="info">
                            <div class="name">{{product.name}}</div>
                            <div class="price">{{product.unitPrice | currency: 'PLN'}}</div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="subtotal">{{ quantity * product.unitPrice | currency: 'PLN'}}</div>
                </td>
            </tr>
        </table>
        <div class="buttons">
            <button routerLink="/products">Continue Shopping</button>
            <button routerLink="/cart">Go to Cart</button>
        </div>
    </div>
</div>