$nav-height: 6rem;
$border-radius: 4px;

$background-color--01: white;
$background-color--02: #f3f4f6;

$color--00: black;
$color--01: #2c2c2c;
$color--02: #8c8c8c;

$error--01: #ff6961;
$error--02: #d60b00;

$success--01: #77dd77;
$success--02: #28a228;

$star: #ff8c00;
