@import "../../../variables.scss";

.loader {
  width: 100%;
  height: var(--loader-max-height, 100vh);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader::after {
  content: "";
  width: var(--loader-width, 4rem);
  height: var(--loader-height, 4rem);
  border: 0.3rem solid $background-color--02;
  border-top-color: $color--01;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
