<div class="navbox"></div>
<div class="container" *ngIf="product">
    <div class="product-wrapper">
        <div class="product-image">
            <img src="../../../assets{{product.imageUrl}}" alt="">
        </div>
        <div class="product-details">
            <p>Home / Shirts</p>
            <h1>{{product.name}}</h1>
            <h4>{{product.unitPrice | currency: 'PLN'}}</h4>
            <div class="cart-button">
                <input type="number" value="1" min="1" max="99" step="1" appPreventTyping [(ngModel)]="value" />
                <button (click)="addToCart(product)">Add to Cart</button>
            </div>

            <h3>Product Details</h3>
            <p>{{product.description}}</p>
        </div>
    </div>
    <app-feedback [product]="product"></app-feedback>
</div>