@import "../../variables.scss";

.navbox {
  width: 100%;
  height: $nav-height;
}

.product-wrapper {
  padding: 2.5% 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .product-image {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    margin-right: 3rem;
    img {
      width: 100%;
      max-width: 500px;
      height: auto;
    }
  }

  .product-details {
    display: grid;
    gap: 2rem;

    p {
      color: $color--01;
    }

    h1 {
      font-size: 3rem;
      transition: all 0.42s;
    }

    h4 {
      font-size: 2rem;
      transition: all 0.42s;
    }

    .unavailable {
      font-weight: 600;
      color: $error--02;
    }

    .cart-button,
    .contact-button {
      display: flex;
      flex-direction: row;

      input {
        width: 3rem;
        height: 3rem;
        font-size: 1.3rem;
        padding-left: 0.2rem;
        margin-right: 1rem;
      }

      button {
        width: 12rem;
        padding: 1rem 0;
        font-size: 1rem;
        color: $background-color--01;
        font-size: 500;
        border-radius: $border-radius;
        background-color: $color--01;
        transition: 0.1s ease;
        border: none;
        outline: none;
        cursor: pointer;
      }

      button:hover {
        background-color: $color--00;
      }
    }
  }
}

.popup {
  .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1001;
  }

  .content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $background-color--01;
    height: 20rem;
    width: 80vw;
    max-width: 50rem;
    text-align: center;
    z-index: 1002;

    .close-button {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 2rem;
      color: $color--00;
      cursor: pointer;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 3rem;

      td {
        padding: 10px 5px;
      }

      td:first-child {
        padding-left: 1rem;
      }

      td:last-child {
        text-align: right;
        padding-right: 1rem;
      }

      img {
        height: 100px;
        transition: all 0.4s;
      }

      .product-info {
        display: flex;
        flex-wrap: wrap;

        .info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 1rem;

          .name {
            font-size: 1.1rem;
          }

          .price {
            margin-top: 0.5rem;
            font-weight: 600;
          }
        }
      }

      .subtotal {
        font-size: 1.2rem;
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      height: 8.3rem;
      padding: 0 1rem;

      button {
        padding: 0.5rem;
        font-size: 1rem;
        height: 2.5rem;
        width: 12rem;
        color: $background-color--01;
        border-radius: $border-radius;
        background-color: $color--01;
        justify-self: center;
        transition: 0.1s ease;
        cursor: pointer;
        border: none;
        outline: none;
      }

      button:hover {
        background-color: $color--00;
      }
    }
  }
}

@media (max-width: 900px) {
  .product-wrapper {
    .product-details {
      h1 {
        font-size: 2.5rem;
      }

      h4 {
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .product-wrapper {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;

    .product-details {
      margin-top: 2rem;

      button {
        width: 100%;
      }
    }
  }

  .popup {
    .content {
      width: 100vw !important;
    }
  }

  .product-info {
    flex-wrap: nowrap !important;
  }

  .subtotal {
    font-size: 1rem !important;
  }

  button {
    font-size: 0.8rem !important;
    width: 8rem !important;
  }
}

@media (max-width: 600px) {
  .navbox {
    height: $nav-height * 2;
  }
}

@media (max-width: 365px) {
  .buttons {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;

    button {
      margin-top: 0.5rem;
    }
  }
}

@media (max-width: 346px) {
  .product-info {
    flex-wrap: wrap !important;

    .info {
      margin-left: 0 !important;
    }
  }
}
