@import "../../variables.scss";

.navbox {
  width: 100%;
  height: $nav-height;
}

.product-wrapper {
  padding: 2.5% 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .product-image {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    margin-right: 3rem;
    img {
      width: 100%;
      max-width: 500px;
      height: auto;
    }
  }

  .product-details {
    display: grid;
    gap: 2rem;

    p {
      color: $color--01;
    }

    h1 {
      font-size: 3rem;
      transition: all 0.42s;
    }

    h4 {
      font-size: 2rem;
      transition: all 0.42s;
    }

    .unavailable {
      font-weight: 600;
      color: $error--02;
    }

    .cart-button,
    .contact-button {
      display: flex;
      flex-direction: row;

      input {
        width: 3rem;
        height: 3rem;
        font-size: 1.3rem;
        padding-left: 0.2rem;
        margin-right: 1rem;
      }

      button {
        width: 12rem;
        padding: 1rem 0;
        font-size: 1rem;
        color: $background-color--01;
        font-size: 500;
        border-radius: $border-radius;
        background-color: $color--01;
        transition: 0.1s ease;
        border: none;
        outline: none;
        cursor: pointer;
      }

      button:hover {
        background-color: $color--00;
      }
    }
  }
}

@media (max-width: 900px) {
  .product-wrapper {
    .product-details {
      h1 {
        font-size: 2.5rem;
      }

      h4 {
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 750px) {
  .product-wrapper {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;

    .product-details {
      margin-top: 2rem;

      button {
        width: 100%;
      }
    }
  }
}

@media (max-width: 600px) {
  .navbox {
    height: $nav-height * 2;
  }
}
