<div class="navbox">

</div>

<app-loader [isLoading]="isLoading"></app-loader>

<div class="container" *ngIf="!isLoading">
    <h3 class="title">
        Dashboard
    </h3>
    <div class="values">
        <div class="val-box">
            <i class='bx bxs-user'></i>
            <div>
                <h3>{{dashboardData.totalUsers| number:'1.0-0'}}</h3>
                <span>Total Users</span>
            </div>
        </div>
        <div class="val-box">
            <i class='bx bxs-cart'></i>
            <div>
                <h3>{{dashboardData.totalOrders | number:'1.0-0'}}</h3>
                <span>Total Orders</span>
            </div>
        </div>
        <div class="val-box">
            <i class='bx bxs-receipt'></i>
            <div>
                <h3>{{dashboardData.totalCustomerFeedback | number:'1.0-0'}}</h3>
                <span>Total Feedback</span>
            </div>
        </div>
        <div class="val-box">
            <i class='bx bxs-t-shirt'></i>
            <div>
                <h3>{{dashboardData.productsSell| number:'1.0-0'}}</h3>
                <span>Product Sell</span>
            </div>
        </div>
        <div class="val-box">
            <i class='bx bxs-wallet'></i>
            <div>
                <h3>{{dashboardData.thisMonthRevenue| currency:'PLN'}}</h3>
                <span>This Month</span>
            </div>
        </div>

        <div class="val-box">
            <i class='bx bxs-book-add'></i>
            <div>
                <h3>Add Product</h3>
            </div>
        </div>
    </div>

    <div class="board">
        <table width="100%">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Date of birth</td>
                    <td>Total Purchases</td>
                    <td>Role</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td class="people">
                        <h5>{{user.firstname + ' ' + user.lastname}}</h5>
                        <p>{{user.email}}</p>
                    </td>
                    <td class="date">
                        <h5>{{user.dateOfBirth}}</h5>
                    </td>

                    <td class="purchases">
                        <h5>{{getPurchasedProductsSize(user)}}</h5>
                    </td>

                    <td class="role">
                        <h5>{{getRole(user)}}</h5>
                    </td>

                    <td class="edit">
                        <a>Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <app-pagination [totalElements]="totalElements" [pageSize]="pageSize" [isLoading]="isLoading"
        [(pageNumber)]="pageNumber" (pageNumberChange)="getUsers()"></app-pagination>
</div>