<div class="navbox">

</div>

<div class="container">
    <h3 class="title">
        Dashboard
    </h3>
    <div class="values">
        <div class="val-box">
            <i class='bx bxs-user'></i>
            <div>
                <h3>{{adminPanelRequest.totalUsers| number:'1.0-0'}}</h3>
                <span>Total Users</span>
            </div>
        </div>
        <div class="val-box">
            <i class='bx bxs-cart'></i>
            <div>
                <h3>{{adminPanelRequest.totalOrders | number:'1.0-0'}}</h3>
                <span>Total Orders</span>
            </div>
        </div>
        <div class="val-box">
            <i class='bx bxs-receipt'></i>
            <div>
                <h3>{{adminPanelRequest.totalCustomerFeedback | number:'1.0-0'}}</h3>
                <span>Total Feedback</span>
            </div>
        </div>
        <div class="val-box">
            <i class='bx bxs-t-shirt'></i>
            <div>
                <h3>{{adminPanelRequest.productsSell| number:'1.0-0'}}</h3>
                <span>Product Sell</span>
            </div>
        </div>
        <div class="val-box">
            <i class='bx bxs-wallet'></i>
            <div>
                <h3>{{adminPanelRequest.thisMonthRevenue| currency:'PLN'}}</h3>
                <span>This Month</span>
            </div>
        </div>

        <div class="val-box">
            <i class='bx bxs-book-add'></i>
            <div>
                <h3>Add Product</h3>
            </div>
        </div>
    </div>

    <div class="board">
        <table width="100%">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Date of birth</td>
                    <td>Total Purchases</td>
                    <td>Role</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="people">
                        <h5>John Doe</h5>
                        <p>johnexample.com</p>
                    </td>
                    <td class="date">
                        <h5>01/01/2000</h5>
                    </td>

                    <td class="purchases">
                        <h5>7</h5>
                    </td>

                    <td class="role">
                        <h5>Admin</h5>
                    </td>

                    <td class="edit">
                        <a>Edit</a>
                    </td>
                </tr>
                <tr>
                    <td class="people">
                        <h5>John Doe</h5>
                        <p>johnexample.com</p>
                    </td>
                    <td class="date">
                        <h5>01/01/2000</h5>
                    </td>

                    <td class="purchases">
                        <h5>7</h5>
                    </td>

                    <td class="role">
                        <h5>Admin</h5>
                    </td>

                    <td class="edit">
                        <a>Edit</a>
                    </td>
                </tr>
                <tr>
                    <td class="people">
                        <h5>John Doe</h5>
                        <p>johnexample.com</p>
                    </td>
                    <td class="date">
                        <h5>01/01/2000</h5>
                    </td>

                    <td class="purchases">
                        <h5>7</h5>
                    </td>

                    <td class="role">
                        <h5>Admin</h5>
                    </td>

                    <td class="edit">
                        <a>Edit</a>
                    </td>
                </tr>
                <tr>
                    <td class="people">
                        <h5>John Doe</h5>
                        <p>johnexample.com</p>
                    </td>
                    <td class="date">
                        <h5>01/01/2000</h5>
                    </td>

                    <td class="purchases">
                        <h5>7</h5>
                    </td>

                    <td class="role">
                        <h5>Admin</h5>
                    </td>

                    <td class="edit">
                        <a>Edit</a>
                    </td>
                </tr>
                <tr>
                    <td class="people">
                        <h5>John Doe</h5>
                        <p>johnexample.com</p>
                    </td>
                    <td class="date">
                        <h5>01/01/2000</h5>
                    </td>

                    <td class="purchases">
                        <h5>7</h5>
                    </td>

                    <td class="role">
                        <h5>Admin</h5>
                    </td>

                    <td class="edit">
                        <a>Edit</a>
                    </td>
                </tr>
                <tr>
                    <td class="people">
                        <h5>John Doe</h5>
                        <p>johnexample.com</p>
                    </td>
                    <td class="date">
                        <h5>01/01/2000</h5>
                    </td>

                    <td class="purchases">
                        <h5>7</h5>
                    </td>

                    <td class="role">
                        <h5>Admin</h5>
                    </td>

                    <td class="edit">
                        <a>Edit</a>
                    </td>
                </tr>
                <tr>
                    <td class="people">
                        <h5>John Doe</h5>
                        <p>johnexample.com</p>
                    </td>
                    <td class="date">
                        <h5>01/01/2000</h5>
                    </td>

                    <td class="purchases">
                        <h5>7</h5>
                    </td>

                    <td class="role">
                        <h5>Admin</h5>
                    </td>

                    <td class="edit">
                        <a>Edit</a>
                    </td>
                </tr>
                <tr>
                    <td class="people">
                        <h5>John Doe</h5>
                        <p>johnexample.com</p>
                    </td>
                    <td class="date">
                        <h5>01/01/2000</h5>
                    </td>

                    <td class="purchases">
                        <h5>7</h5>
                    </td>

                    <td class="role">
                        <h5>Admin</h5>
                    </td>

                    <td class="edit">
                        <a>Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>