<app-navbox></app-navbox>

<app-loader [isLoading]="isLoading"></app-loader>

<div class="container" [class.unvisible]="isLoading">
    <div class="form_container">
        <div class="title_container">
            <p class="title">Edit the user</p>
            <span class="subtitle">Fill in the details below to add a edit existing user.</span>
        </div>
        <br>

        <div class="alerts" *ngFor="let msg of errorMsg">
            <app-alert backgroundColor="#ff6961" borderColor="#d60b00" msg="{{msg}}"></app-alert>
        </div>

        <div class="input_container">
            <label class="input_label" for="firstname">First Name</label>
            <input name="input-name" type="text" class="input_field" [(ngModel)]="user.firstname" id="firstname">
        </div>

        <div class="input_container">
            <label class="input_label" for="lastname">Last Name</label>
            <input name="input-name" type="text" class="input_field" [(ngModel)]="user.lastname" id="lastname">
        </div>

        <div class="input_container">
            <label class="input_label" for="email">Email</label>
            <input name="input-name" type="text" class="input_field" [(ngModel)]="user.email" id="email">
        </div>

        <div class="input_container">
            <label class="input_label" for="Password">Password</label>
            <input name="input-name" type="password" class="input_field" [(ngModel)]="user.password" id="Password"
                placeholder="Password">
        </div>

        <div class="input_container">
            <label class="input_label" for="dateOfBirth">Date of Birth</label>
            <input name="input-name" type="date" class="input_field" [(ngModel)]="user.dateOfBirth" id="dateOfBirth">
        </div>


        <div *ngIf="!editUserLoading">
            <button (click)="editUser()" class="edit_btn">
                <span>Edit User</span>
            </button>
        </div>

        <div *ngIf="editUserLoading">
            <button class="edit_btn"><app-loader width="1rem" height="1rem" [maxHeight]="false"></app-loader></button>
        </div>

        <div class="separator">
            <hr class="line">
            <span>Or</span>
            <hr class="line">
        </div>
        <button routerLink="/admin-panel" type="submit" class="back-to-admin-panel_btn">
            <span>Back to Admin Panel</span>
        </button>
    </div>
</div>