<div class="container" *ngIf="submitted else codeForm">
    <div class="activate-message" *ngIf="isOkay else activationError">
        <h1>Activation successful!</h1>
        <p>Your account has been sucessfully activated</p>
        <button (click)="redirectToLogin()">Go To Login</button>
    </div>
    <ng-template #activationError>
        <div class="activate-error">
            <h1>Activation failed!</h1>
            <p>{{message}}</p>
            <button (click)="submitted = false">Try again</button>
        </div>
    </ng-template>
</div>

<ng-template #codeForm>
    <div class="container">
        <div class="code-wrapper">
            <h1>Type your activation code</h1>
            <code-input [isCodeHidden]="false" [codeLength]="6" [code]="'number'"
                (codeCompleted)="onCodeCompleted($event)"></code-input>
        </div>
    </div>
</ng-template>