<div class="contact">
    <div class="contact-info">
        <div class="first-info">
            <img src="../../../assets/images/temporery_logo.png" alt="logo">

            <p>3245 Grant Street Longview, <br> TX united kingdom 765378</p>
            <p>03123312324</p>
            <p>thedolien.com</p>

            <div class="social-icon">
                <a href="#"><i class="bx bxl-facebook"></i></a>
                <a href="#"><i class="bx bxl-twitter"></i></a>
                <a href="#"><i class="bx bxl-youtube"></i></a>
                <a href="#"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>

        <div class="second-info">
            <h4>Support</h4>
            <p>Contact us</p>
            <p>About page</p>
            <p>Size Guide</p>
            <p>Shopping & Resturns</p>
            <p>Privacy</p>
        </div>

        <div class="third-info">
            <h4>Shop</h4>
            <p>Men's Shopping</p>
            <p>Women's Shopping</p>
            <p>Kids's Shopping</p>
            <p>Furniture</p>
            <p>Discount</p>
        </div>

        <div class="fourth-info">
            <h4>Company</h4>
            <p>About</p>
            <p>Blog</p>
            <p>Affiliate</p>
            <p>Login</p>
        </div>

        <div class="five-info">
            <h4>Subscribe</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <p>Lorem Ipsum has been the industry's standard dummy</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <p>Lorem Ipsum has been the industry's standard dummy</p>
        </div>
    </div>
</div>