<div class="navbox"></div>

<div class="container" #productsSection>
    <div class="center-text">
        <h2 *ngIf="!isFavouriteRoute">Our <span *ngIf="currentCategoryName.length">{{currentCategoryName}}</span> <span
                *ngIf="currentCategoryName.length == 0">Products</span></h2>
        <h2 *ngIf="isFavouriteRoute">Your <span>Favourites</span></h2>
        <select [(ngModel)]="selectedSortOption" (change)="onSortOptionChange()">
            <option value="default">Default Sorting</option>
            <option value="lowest-price">Sort by lowest price</option>
            <option value="highest-price">Sort by highest price</option>
            <option value="popularity">Sort by popularity</option>
            <option value="rating">Sort by rating</option>
            <option value="sale">Sort by sale</option>
        </select>
    </div>

    <app-loader [isLoading]="isLoading"></app-loader>

    <div class="products" *ngIf="!isLoading">
        <div class="product" *ngFor="let product of products">
            <a routerLink="/products/{{product.id}}">
                <img src='../../../assets{{product.imageUrl}}' alt="Product Name">
            </a>
            <div class="product-text">
                <h5>Sale</h5>
            </div>
            <div class="rating-and-favourite">
                <app-rating [rating]="product.rate || 0"></app-rating>
                <app-favourite-product [product]="product"></app-favourite-product>
            </div>

            <div class="price">
                <a routerLink="/products/{{product.id}}">
                    <h4>{{product.name}}</h4>
                </a>
                <p>{{product.unitPrice | currency: 'PLN'}}</p>
            </div>
        </div>
    </div>

    <app-pagination [totalElements]="totalElements" [pageSize]="pageSize" [isLoading]="isLoading"
        [(pageNumber)]="pageNumber" (pageNumberChange)="scrollToProducts()"></app-pagination>

    <div class="page-size-wrapper" *ngIf="products.length && !isLoading">
        <div class="page-size">
            <span>Page Size</span>
            <select #pageSelect (change)="updatePageSize(pageSelect.value)">
                <option selected="true">5</option>
                <option>15</option>
                <option>25</option>
                <option>50</option>
            </select>
        </div>
    </div>



    <app-alert msg="No products found." *ngIf="products?.length == 0 && !isLoading"></app-alert>
</div>