<div class="navbox"></div>

<div class="container"
    [ngClass]="{'less-than-five': isLessThanFiveProducts(), 'less-than-four': isLessThanFourProducts(), 'less-than-three': isLessThanThreeProducts()}">
    <div class="center-text">
        <h2>Our <span *ngIf="currentCategoryName.length">{{currentCategoryName}}</span> <span
                *ngIf="currentCategoryName.length == 0">Products</span></h2>
        <select [(ngModel)]="selectedSortOption" (change)="onSortOptionChange()">
            <option value="default">Default Sorting</option>
            <option value="lowest-price">Sort by lowest price</option>
            <option value="highest-price">Sort by highest price</option>
            <option value="popularity">Sort by popularity</option>
            <option value="rating">Sort by rating</option>
            <option value="sale">Sort by sale</option>
        </select>
    </div>

    <div *ngIf="isLoading" class="loader">

    </div>

    <div class="products" *ngIf="!isLoading">
        <div class="product" *ngFor="let product of products">
            <a routerLink="/products/{{product.id}}">
                <img src='../../../assets{{product.imageUrl}}' alt="Product Name">
            </a>
            <div class="product-text">
                <h5>Sale</h5>
            </div>
            <div class="heart-icon">
                <i class="bx bx-heart"></i>
            </div>
            <div class="ratting">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star-half"></i>
            </div>

            <div class="price">
                <a routerLink="/products/{{product.id}}">
                    <h4>{{product.name}}</h4>
                </a>
                <p>{{product.unitPrice | currency: 'PLN'}}</p>
            </div>
        </div>
    </div>

    <ngb-pagination *ngIf="(this.totalElements/this.pageSize) > 1 && !isLoading" class="custom-pagination"
        [(page)]="pageNumber" [pageSize]="pageSize" [maxSize]="2" [collectionSize]="totalElements"
        (pageChange)="listProducts()">

    </ngb-pagination>

    <div class="page-size" *ngIf="products.length && !isLoading">
        <span>Page Size</span>
        <select #pageSelect (change)="updatePageSize(pageSelect.value)">
            <option selected="true">5</option>
            <option>15</option>
            <option>25</option>
            <option>50</option>
        </select>
    </div>



    <div class="alert" *ngIf="products?.length == 0 && !isLoading" role="alert">
        <span class="msg">No products found.</span>
    </div>
</div>