<div class="container">
    <div class="center-text">
        <h2>Our <span *ngIf="currentCategoryName.length">{{currentCategoryName}}</span> <span
                *ngIf="currentCategoryName.length == 0">Products</span></h2>
    </div>

    <div class="products">
        <div class="product" *ngFor="let product of products">
            <a routerLink="/products/{{product.id}}">
                <img src='../../../assets{{product.imageUrl}}' alt="Product Name">
            </a>
            <div class="product-text">
                <h5>Sale</h5>
            </div>
            <div class="heart-icon">
                <i class="bx bx-heart"></i>
            </div>
            <div class="ratting">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star-half"></i>
            </div>

            <div class="price">
                <a routerLink="/products/{{product.id}}">
                    <h4>{{product.name}}</h4>
                </a>
                <p>{{product.unitPrice | currency: 'PLN'}}</p>
            </div>
        </div>
    </div>

    <div class="alert" *ngIf="products?.length == 0" role="alert">
        <span class="msg">No products found.</span>
    </div>
</div>