<!-- <div class="container-fluid card login-container">
    <h3 class="text-center">Create an account</h3>
    <hr>
    <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
        <p *ngFor="let msg of errorMsg">{{ msg }}</p>
    </div>
    <div class="mb-3">
        <label for="firstname" class="form-label">Firstname</label>
        <input [(ngModel)]="registerRequest.firstname" type="text" class="form-control" id="firstname"
            placeholder="john">

        <label for="lastname" class="form-label">Lastname</label>
        <input [(ngModel)]="registerRequest.lastname" type="text" class="form-control" id="lastname" placeholder="don">

        <label for="email" class="form-label">Email address</label>
        <input [(ngModel)]="registerRequest.email" type="email" class="form-control" id="email" placeholder="email">

        <label for="password" class="form-label">Password</label>
        <input [(ngModel)]="registerRequest.password" type="password" class="form-control" id="password"
            placeholder="password">
    </div>
    <div class="d-flex justify-content-between mb-3">
        <button (click)="register()" type="button" class="btn btn-primary">
            <em class="fas fa-sign-in-allt">&nbsp;Sign up</em>
        </button>
        <div>
            Already have an account?&nbsp;
            <button (click)="login()" type="button" class="btn btn-link">
                Login
            </button>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="form-wrapper">
        <h2>Sign In</h2>

        <div class="alerts" *ngFor="let msg of errorMsg">
            <div class="alert">
                <span class="msg">{{msg}}</span>
            </div>
        </div>


        <div class="form">
            <div class="form-control">
                <input [(ngModel)]="registerRequest.firstname" type="text" id="firstname" placeholder=" ">
                <label for="firstname">First name</label>
            </div>

            <div class="form-control">
                <input [(ngModel)]="registerRequest.lastname" type="text" id="email" placeholder=" ">
                <label for="email">Last name</label>
            </div>

            <div class="form-control">
                <input [(ngModel)]="registerRequest.email" type="text" id="email" placeholder=" ">
                <label for="email">Email address</label>
            </div>

            <div class="form-control">
                <input [(ngModel)]="registerRequest.password" type="password" id="password" placeholder=" ">
                <label for="password">Password</label>
            </div>

            <button (click)="register()" type="button">
                Sign up
            </button>
        </div>

        <p>Already have account? <button type="button" (click)="login()">Log in</button></p>
    </div>
</div>