<div class="navbox"></div>

<app-loader [isLoading]="isLoading"></app-loader>

<div class="container" [class.visible]="!isLoading">
    <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <div formGroupName="customer" class="form-group">
            <h3>Customer</h3>
            <div class="row">
                <div class="form-control">
                    <input formControlName="firstname" type="text" id="firstname" placeholder=" ">
                    <label for="firstname">First Name</label>
                </div>

                <div *ngIf="firstname?.invalid && (firstname?.dirty || firstname?.touched)">
                    <app-alert msg="First name is required"
                        *ngIf="firstname?.errors!['required'] || firstname?.errors!['notOnlyWhitespace']"
                        backgroundColor="#ff6961" borderColor="#d60b00"></app-alert>

                    <app-alert msg="First name must be at least 2 characters" *ngIf="firstname?.errors!['minlength']"
                        backgroundColor="#ff6961" borderColor="#d60b00"></app-alert>
                </div>
            </div>

            <div class="row">
                <div class="form-control">
                    <input formControlName="lastname" type="text" id="lastname" placeholder=" ">
                    <label for="lastname">Last Name</label>
                </div>

                <div *ngIf="lastname?.invalid && (lastname?.dirty || lastname?.touched)">
                    <app-alert msg="Last name is required"
                        *ngIf="lastname?.errors!['required'] || lastname?.errors!['notOnlyWhitespace']"
                        backgroundColor="#ff6961" borderColor="#d60b00"></app-alert>

                    <app-alert msg="Last name must be at least 2 characters" *ngIf="lastname?.errors!['minlength']"
                        backgroundColor="#ff6961" borderColor="#d60b00"></app-alert>
                </div>
            </div>

            <div class="row">
                <div class="form-control">
                    <input formControlName="email" type="text" id="email" placeholder=" ">
                    <label for="email">Email</label>
                </div>

                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                    <app-alert msg="Email is required" *ngIf="email?.errors!['required']" backgroundColor="#ff6961"
                        borderColor="#d60b00"></app-alert>

                    <app-alert msg="Email must be a valid email address format" *ngIf="email?.errors!['pattern']"
                        backgroundColor="#ff6961" borderColor="#d60b00"></app-alert>
                </div>
            </div>
        </div>

        <div formGroupName="billingAddress" class="form-group">
            <h3>Billing Address</h3>
            <div class="row">
                <div class="form-control">
                    <select formControlName="country" (change)="differentCountry(countrySelect.value)" #countrySelect>
                        <option *ngFor="let country of countries" [ngValue]="country">{{ country.name }}
                            ({{country.code}})
                        </option>
                    </select>
                    <label for="country">Country</label>
                </div>

                <div
                    *ngIf="billingAddressCountry?.invalid && (billingAddressCountry?.dirty || billingAddressCountry?.touched)">
                    <app-alert msg="Country is required" *ngIf="billingAddressCountry?.errors!['required']"
                        backgroundColor="#ff6961" borderColor="#d60b00"></app-alert>
                </div>
            </div>

            <div class="row">
                <div class="form-control">
                    <input formControlName="street" type="text" id="street" placeholder=" ">
                    <label for="street">Street</label>
                </div>

                <div
                    *ngIf="billingAddressStreet?.invalid && (billingAddressStreet?.dirty || billingAddressStreet?.touched)">
                    <app-alert msg="Street is required"
                        *ngIf="billingAddressStreet?.errors!['required'] || billingAddressStreet?.errors!['notOnlyWhitespace']"
                        backgroundColor="#ff6961" borderColor="#d60b00"></app-alert>

                    <app-alert msg="Street must be at least 2 characters"
                        *ngIf="billingAddressStreet?.errors!['minlength']" backgroundColor="#ff6961"
                        borderColor="#d60b00"></app-alert>
                </div>
            </div>

            <div class="row">
                <div class="form-control">
                    <input formControlName="city" type="text" id="city" placeholder=" ">
                    <label for="city">City</label>
                </div>

                <div *ngIf="billingAddressCity?.invalid && (billingAddressCity?.dirty || billingAddressCity?.touched)">
                    <app-alert msg="City is required"
                        *ngIf="billingAddressCity?.errors!['required'] || billingAddressCity?.errors!['notOnlyWhitespace']"
                        backgroundColor="#ff6961" borderColor="#d60b00"></app-alert>

                    <app-alert msg="City must be at least 2 characters" *ngIf="billingAddressCity?.errors!['minlength']"
                        backgroundColor="#ff6961" borderColor="#d60b00"></app-alert>
                </div>
            </div>

            <div class="row">
                <div class="form-control">
                    <input formControlName="zipCode" type="text" id="zipCode" placeholder=" ">
                    <label for="zipCode">Zip Code</label>
                </div>

                <div
                    *ngIf="billingAddressZipCode?.invalid && (billingAddressZipCode?.dirty || billingAddressZipCode?.touched)">
                    <app-alert msg="Zip Code is required"
                        *ngIf="billingAddressZipCode?.errors!['required'] || billingAddressZipCode?.errors!['notOnlyWhitespace']"
                        backgroundColor="#ff6961" borderColor="#d60b00"></app-alert>

                    <app-alert msg="Zip Code must be at least 2 characters"
                        *ngIf="billingAddressZipCode?.errors!['minlength']" backgroundColor="#ff6961"
                        borderColor="#d60b00"></app-alert>
                </div>
            </div>
        </div>

        <div class="shippingAsBilling">
            <input type="checkbox" [checked]="isChecked" (change)="copyBillingAddressToShippingAddress($event)"
                id="checkbox" [disabled]="isCheckboxDisabled">
            <label for="checkbox" [class.checkboxDisabled]="isCheckboxDisabled">Shipping Address same as Billing
                Address</label>
        </div>

        <div formGroupName="shippingAddress" class="shippingAddressContainer form-group">
            <h3>Shipping Address</h3>
            <div class="row">
                <div class="onlyPoland">
                    <p>Shipping is only within Poland</p>
                </div>
                <div class="form-control">
                    <select disabled>
                        <option *ngFor="let country of countries">{{ country.name }}
                            ({{country.code}})
                        </option>
                    </select>
                    <select formControlName="country" hidden>
                        <option *ngFor="let country of countries" [ngValue]="country"></option>
                    </select>
                    <label for="country">Country</label>
                </div>

                <div
                    *ngIf="shippingAddressCountry?.invalid && (shippingAddressCountry?.dirty || shippingAddressCountry?.touched)">
                    <app-alert msg="Country is required" *ngIf="shippingAddressCountry?.errors!['required']"
                        backgroundColor="#ff6961" borderColor="#d60b00"></app-alert>
                </div>
            </div>

            <div class="row">
                <div class="form-control">
                    <input formControlName="street" type="text" id="street" placeholder=" ">
                    <label for="street">Street</label>
                </div>

                <div
                    *ngIf="shippingAddressStreet?.invalid && (shippingAddressStreet?.dirty || shippingAddressStreet?.touched)">
                    <app-alert msg="Street is required"
                        *ngIf="shippingAddressStreet?.errors!['required'] || shippingAddressStreet?.errors!['notOnlyWhitespace']"
                        backgroundColor="#ff6961" borderColor="#d60b00"></app-alert>

                    <app-alert msg="Street must be at least 2 characters"
                        *ngIf="shippingAddressStreet?.errors!['minlength']" backgroundColor="#ff6961"
                        borderColor="#d60b00"></app-alert>
                </div>
            </div>

            <div class="row">
                <div class="form-control">
                    <input formControlName="city" type="text" id="city" placeholder=" ">
                    <label for="city">City</label>
                </div>

                <div
                    *ngIf="shippingAddressCity?.invalid && (shippingAddressCity?.dirty || shippingAddressCity?.touched)">
                    <app-alert msg="City is required"
                        *ngIf="shippingAddressCity?.errors!['required'] || shippingAddressCity?.errors!['notOnlyWhitespace']"
                        backgroundColor="#ff6961" borderColor="#d60b00"></app-alert>

                    <app-alert msg="City must be at least 2 characters"
                        *ngIf="shippingAddressCity?.errors!['minlength']" backgroundColor="#ff6961"
                        borderColor="#d60b00"></app-alert>
                </div>
            </div>

            <div class="row">
                <div class="form-control">
                    <input formControlName="zipCode" type="text" id="zipCode" placeholder=" ">
                    <label for="zipCode">Zip Code</label>
                </div>

                <div
                    *ngIf="shippingAddressZipCode?.invalid && (shippingAddressZipCode?.dirty || shippingAddressZipCode?.touched)">
                    <app-alert msg="Zip Code is required"
                        *ngIf="shippingAddressZipCode?.errors!['required'] || shippingAddressZipCode?.errors!['notOnlyWhitespace']"
                        backgroundColor="#ff6961" borderColor="#d60b00"></app-alert>

                    <app-alert msg="Zip Code must be at least 2 characters"
                        *ngIf="shippingAddressZipCode?.errors!['minlength']" backgroundColor="#ff6961"
                        borderColor="#d60b00"></app-alert>
                </div>
            </div>
        </div>

        <div formGroupName="creditCard" class="form-group">
            <h3>Credit Card</h3>

            <div class="row">
                <div>Card Type</div>
                <select formControlName="cardType">
                    <option>Visa</option>
                    <option>Mastercard</option>
                </select>
            </div>

            <div class="row">
                <div>Name on Card</div>
                <input formControlName="nameOnCard" type="text">
            </div>

            <div class="row">
                <div>Card Number</div>
                <input formControlName="cardNumber" type="text">
            </div>

            <div class="row">
                <div>Security Code</div>
                <input formControlName="securityCode" type="text">
            </div>

            <div class="row">
                <div>Expiration Month</div>
                <select formControlName="expirationMonth">
                    <option>TO DO</option>
                </select>
            </div>

            <div class="row">
                <div>Expiration Year</div>
                <select formControlName="expirationYear">
                    <option>TO DO</option>
                </select>
            </div>
        </div>

        <div class="review-order">
            <table>
                <tr>
                    <td>Subtotal</td>
                    <td>{{totalPrice | currency:'PLN'}}</td>
                </tr>

                <tr>
                    <td>Shipping</td>
                    <td>{{shipping | currency: 'PLN'}}</td>
                </tr>

                <tr>
                    <td>Total</td>
                    <td>{{totalPrice + shipping | currency: 'PLN'}}</td>
                </tr>
            </table>
        </div>

        <div class="purchase-button">
            <button type="submit">Purchase</button>
        </div>
    </form>
</div>