@import "../../../variables.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.alerts {
  width: 100%;
}

.form_container {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.9375rem;
  padding: 3.125rem 2.5rem 1.25rem 2.5rem;
  margin: 2.5rem 0;
  background-color: $background-color--02;
  box-shadow: 0px 6.625rem 2.625rem rgba(0, 0, 0, 0.01),
    0px 3.6875rem 2.25rem rgba(0, 0, 0, 0.05),
    0px 1.625rem 1.625rem rgba(0, 0, 0, 0.09),
    0px 0.4375rem 0.9375rem rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.6875rem;
  font-family: "Inter", sans-serif;
}

.title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}

.title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: $color--01;
}

.subtitle {
  font-size: 0.725rem;
  max-width: 80%;
  text-align: center;
  line-height: 1.1rem;
  color: $color--02;
}

.input_container {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}

.file-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  button {
    width: fit-content;
    padding: 0.5rem 1.25rem;
    background: $color--01;
    border-radius: 0.4375rem;
    outline: none;
    color: $background-color--01;
    border: 0.0625rem solid $background-color--02;
    filter: drop-shadow(0px 0.0625rem 0px $background-color--02);
  }
}

.icon {
  width: 1.25rem;
  position: absolute;
  z-index: 99;
  left: 0.75rem;
  bottom: 0.5625rem;
}

.input_label {
  font-size: 0.75rem;
  color: $color--02;
  font-weight: 600;
}

.input_field {
  width: auto;
  height: 2.5rem;
  padding: 0 0 0 1rem;
  border-radius: 0.4375rem;
  outline: none;
  border: 0.0625rem solid $background-color--02;
  filter: drop-shadow(0px 0.0625rem 0px $background-color--02)
    drop-shadow(0px 0.0625rem 0.3125rem rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
  border: 0.0625rem solid transparent;
  box-shadow: 0px 0px 0px 0.125rem $color--01;
}

textarea {
  height: 5rem !important;
  resize: none !important;
  padding-top: 1rem !important;
}

.add_btn {
  width: 10rem;
  height: 2.5rem;
  border: 0;
  background: $primary--02;
  border-radius: 0.4375rem;
  outline: none;
  color: $background-color--01;
  cursor: pointer;
}

.back-to-admin-panel_btn {
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  background: $color--00;
  border-radius: 0.4375rem;
  outline: none;
  color: $background-color--01;
  border: 0.0625rem solid $background-color--02;
  filter: drop-shadow(0px 0.0625rem 0px $background-color--02)
    drop-shadow(0px 0.0625rem 0.3125rem rgba(239, 239, 239, 0.5));
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.back-to-admin-panel_btn:hover {
  background-color: $color--01;
}

.separator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
  color: $color--02;
}

.separator .line {
  display: block;
  width: 100%;
  height: 0.0625rem;
  border: 0;
  background-color: $color--02;
}

.custum-file-upload {
  height: 12.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  cursor: pointer;
  justify-content: center;
  border: 0.125rem dashed $color--02;
  background-color: $background-color--01;
  padding: 1.5rem;
  border-radius: 0.625rem;
  box-shadow: 0px 3rem 2.1875rem -3rem rgba(0, 0, 0, 0.1);
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: $color--02;
}

.custum-file-upload input {
  display: none;
}
