<app-navbox></app-navbox>

<div class="container">
    <div class="form_container">
        <div class="title_container">
            <p class="title">Create a product</p>
            <span class="subtitle">Fill in the details below to add a new product to your inventory.</span>
        </div>
        <br>

        <div class="alerts" *ngFor="let msg of errorMsg">
            <app-alert backgroundColor="#ff6961" borderColor="#d60b00" msg="{{msg}}"></app-alert>
        </div>

        <div class="input_container">
            <label class="input_label" for="category">Category</label>
            <select name="input-name" type="text" class="input_field" id="category" [(ngModel)]="selectedCategoryId"
                (change)="onCategoryChange()">
                <option *ngFor="let category of productCategories" [value]="category.id">
                    {{category.categoryName}}
                </option>
            </select>
        </div>
        <div class="input_container">
            <label class="input_label" for="name">Name</label>
            <input name="input-name" type="text" class="input_field" [(ngModel)]="productRequest.name" id="name">
        </div>

        <div class="input_container">
            <label class="input_label" for="description">Description</label>
            <textarea name="input-name" type="text" class="input_field" [(ngModel)]="productRequest.description"
                id="description"></textarea>
        </div>

        <div class="input_container">
            <label class="input_label" for="price">Price (in PLN)</label>
            <input name="input-name" type="number" min="0" class="input_field" [(ngModel)]="productRequest.unitPrice"
                id="price">
        </div>

        <div class="input_container">
            <label class="input_label" for="unitsInStock">Units in stock</label>
            <input name="input-name" type="number" min="0" class="input_field" [(ngModel)]="productRequest.unitsInStock"
                id="unitsInStock">
        </div>

        <div class="input_container">
            <label class="input_label" for="image">Image</label>

            <label class="custum-file-upload" for="file" *ngIf="!selectedFileName">
                <div class="text">
                    <span>Click to upload image</span>
                </div>
                <input type="file" id="file" (change)="onFileChange($event)" accept=".jpg, .jpeg, .png">
            </label>

            <div *ngIf="selectedFileName" class="file-info">
                <span>Selected file: {{ selectedFileName }}</span>
                <button (click)="changeFile()" class="change_btn">Change</button>
            </div>
        </div>

        <div *ngIf="!isAddingProduct">
            <button (click)="addProduct()" class="add_btn">
                <span>Add Product</span>
            </button>
        </div>

        <div *ngIf="isAddingProduct">
            <button class="add_btn"><app-loader width="1rem" height="1rem" [maxHeight]="false"></app-loader></button>
        </div>

        <div class="separator">
            <hr class="line">
            <span>Or</span>
            <hr class="line">
        </div>
        <button routerLink="/admin-panel" type="submit" class="back-to-admin-panel_btn">
            <span>Back to Admin Panel</span>
        </button>
    </div>
</div>