<header>
    <a href="#" routerLink="/" class="logo"><img src="../assets/images/temporery_logo.png" alt=""> </a>

    <ul class="navmenu">
        <li><a class="navlink" href="#" routerLink="/">home</a></li>
        <li>
            <a class="categories navlink">categories</a>
            <div class="categoryList" *ngFor="let productCategory of productCategories">
                <p routerLink="/category/{{productCategory.id }}/{{ productCategory.categoryName }}"
                    class="categoryName">{{productCategory.categoryName}}
                </p>
            </div>
        </li>
        <li><a class="navlink" href="#" routerLink="/products" routerLinkActive="active-link">products</a></li>
        <li><a class="navlink" href="#">docs</a></li>
    </ul>

    <div class="nav-icon">
        <div class="search-bar">
            <div class="search-button" (click)="toggleSearch()">
                <i class="bx bx-search"></i>
            </div>
            <div class="search-input">
                <input #myInput type="text" placeholder="Search" id="search" (keyup.enter)="doSearch(myInput.value)">
            </div>
        </div>
        <div class="profile-wrapper">
            <i class="bx bx-user profile-icon"></i>
            <div class="profile-list">
                <p class="profile-option">
                    Profile
                </p>
                <p class="profile-option">
                    Favourites
                </p>
                <p class="profile-option">
                    Settings
                </p>
                <p class="profile-option">
                    Log-out
                </p>
            </div>
        </div>
        <a href="#" class="cart-status">
            <app-cart-status></app-cart-status>
            <i class="bx bx-cart"></i>
        </a>

        <div class="bx bx-menu" (click)="toggleMenu()" id="menu-icon"></div>
    </div>
</header>