<header>
    <a href="#" class="logo"><img src="../assets/images/temporery_logo.png" alt=""> </a>

    <ul class="navmenu">
        <li><a href="#">home</a></li>
        <li><a href="#">shop</a></li>
        <li><a href="#">products</a></li>
        <li><a href="#">page</a></li>
        <li><a href="#">docs</a></li>
    </ul>

    <div class="nav-icon">
        <a href="#"><i class="bx bx-search"></i></a>
        <a href="#" routerLink="/login"><i class="bx bx-user"></i></a>
        <a href="#"><i class="bx bx-cart"></i></a>

        <div class="bx bx-menu" id="menu-icon"></div>
    </div>
</header>