@import "../../variables.scss";

.navbox {
  height: $nav-height;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5% 10%;

  h2 {
    margin-bottom: 2rem;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th {
      text-align: left;
      padding: 1rem;
      color: $background-color--01;
      background-color: $color--00;
      font-weight: normal;
    }

    td {
      padding: 10px 5px;
      text-align: center;
    }

    td:first-child {
      padding-left: 1rem;
    }

    td:last-child {
      text-align: right;
      padding-right: 1rem;
    }
  }

  .alert {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    app-alert {
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .navbox {
    height: $nav-height * 2;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0;
  }

  .alert {
    padding: 5% 10%;
  }
}
