<app-loader [isLoading]="isLoading"></app-loader>

<div class="container" [class.visible]="!isLoading">
    <section class="main-home">
        <div class="main-text">
            <h5>Summer Collection</h5>
            <h1>New Summer <br> Collection 2024</h1>
            <p>There's Nothing like Trend</p>

            <a href="#" routerLink="/products" class="main-btn">Shop Now <i class="bx bx-right-arrow-alt"></i></a>
        </div>

        <div class="down-arrow" (click)="scrollToTrending()">
            <i class="bx bx-down-arrow-alt"></i>
        </div>
    </section>

    <app-loader [isLoading]="isLoadingProducts"></app-loader>

    <section class="trending-product" *ngIf="!isLoadingProducts" #trendingSection>
        <div class="center-text">
            <h2>Our Trending <span>Products</span></h2>
        </div>

        <div class="products">
            <div class="product" *ngFor="let product of products">
                <a routerLink="/products/{{product.id}}">
                    <img src='../../../assets{{product.imageUrl}}' alt="Product Name">
                </a>

                <div class="product-new" *ngIf="isNewProduct(product.dateCreated)">
                    <h5>New</h5>
                </div>

                <div class="rating-and-favourite">
                    <app-rating [rating]="product.rate || 0"></app-rating>
                    <app-favourite-product [product]="product"></app-favourite-product>
                </div>

                <div class="price">
                    <a routerLink="/products/{{product.id}}">
                        <h4>{{product.name}}</h4>
                    </a>
                    <p>{{product.unitPrice | currency: 'PLN'}}</p>
                </div>
            </div>
        </div>

        <div class="showmore-button">
            <button routerLink="/products">Show more...</button>
        </div>
    </section>

    <section class="features">
        <div class="up-center-text">
            <h2>Features</h2>
        </div>

        <div class="advantages-wrapper">
            <div class="advantage">
                <img src="../../../assets/images/features/f1.png" alt="">
                <h4>The Uniqueness of Every Detail</h4>
                <p>Each of our products is carefully and manually crafted by one person, ensuring a unique character and
                    attention to the smallest details.</p>
            </div>
            <div class="advantage">
                <img src="../../../assets/images/features/f2.png" alt="">
                <h4>Passion and Authenticity</h4>
                <p>Our creations are not only a product of craftsmanship but also a passion for creation, which is
                    evident in every thread and loop.</p>
            </div>
            <div class="advantage">
                <img src="../../../assets/images/features/f3.png" alt="">
                <h4>Individual Approach</h4>
                <p>We create custom orders and personalize our products to meet our clients' expectations and to be as
                    unique as each person for whom they are intended.</p>
            </div>
            <div class="advantage">
                <img src="../../../assets/images/features/f4.png" alt="">
                <h4>Commitment to Quality</h4>
                <p>We use only the highest quality materials to ensure the durability and comfort of our products.</p>
            </div>
            <div class="advantage">
                <img src="../../../assets/images/features/f5.png" alt="">
                <h4>Trust and Transparency</h4>
                <p>We take pride in our craftsmanship and always strive for honesty and transparency in our actions.</p>
            </div>
            <div class="advantage">
                <img src="../../../assets/images/features/f6.png" alt="">
                <h4>Direct Contact with the Creator</h4>
                <p>When you purchase from us, you not only receive a unique item but also direct connection with the
                    person who created it, ensuring a personal and authentic buying experience.</p>
            </div>
        </div>
    </section>
</div>