<div class="contact">
    <div class="contact-info">
        <div class="first-info">
            <img src="../../../assets/images/temporary_logo-02.png" alt="logo">

            <p>3245 Grant Street Longview, <br> TX united kingdom 765378</p>
            <p>03123312324</p>
            <p>thedolien.com</p>

            <div class="social-icon">
                <a href="#"><i class="bx bxl-facebook"></i></a>
                <a href="#"><i class="bx bxl-twitter"></i></a>
                <a href="#"><i class="bx bxl-youtube"></i></a>
                <a href="#"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>

        <div class="second-info">
            <h4>Pages</h4>
            <p routerLink="contact-us">Contact us</p>
            <p routerLink="products">Products</p>
            <p routerLink="favourites">Favourite products</p>
            <p routerLink="order-history">Orders</p>
            <p routerLink="profile">Profile</p>
        </div>

        <div class="third-info">
            <h4>Categories</h4>
            <p *ngFor="let category of productCategories">{{category.categoryName}}</p>
        </div>

        <div class="fourth-info">
            <h4>Registration</h4>
            <p routerLink="register">Register</p>
            <p routerLink="login">Login</p>
        </div>
    </div>
</div>